// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  font-weight: bold;
}

a:link, a:visited {
  color: black;
}

a:hover{
  background-color:white;
}
